.profile_description{
   text-align: justify ;
   display: block;
   font-weight: normal;
   margin: auto;
}
.imagen_profile{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
.encabezado{
   text-align: center; 
}
.titulos{
    font-weight: bold;
    text-align: center;
}
.skills{
    list-style: square;
}